[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==2.5.0"
cython = "==3.0.0"
pyinstaller = "==5.13.0"
ttkthemes = "==3.2.2"
numpy = "==1.25.1"
pandas = "==2.0.3"

[dev-packages]

[requires]
python_version = "3.11"
